html,body,#root,.root {
    height:100%;
    width:100%;
    position: relative;
    margin:0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-shrink: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--windowColor);


    
    * {
        box-sizing: border-box;
    }

    @import './titlebar.scss';
    @import './tabs.scss';

    .webview-container {
        height:100%;
        width:100%;
        position: relative;
        display: flex;
        align-items: center;
        webview {
            position: absolute;
            inset:0;
            transition: opacity 0.3s;
            pointer-events: none;
            opacity: 0;

            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}
