.tab-container {
    width:100%;
    box-shadow: 0 -1px lighten($title-colour,14);
    background-color: darken($title-colour,10);
    display: flex;
    color:white;
    border-bottom:1px solid black;
    z-index: 3;

    .tab {
        padding:3px 10px;
        width: 100%;
        font-size: 12px;
        text-align: center;
        align-items: center;
        display: flex;
        gap:3px;
        justify-content: center;

        &.active {
            background-color: $title-colour;
        }

        &:not(:last-child) {
            border-right:1px solid lighten($title-colour,14);
        }
    }
}