.tab-container {
    width:100%;
    box-shadow: 0 -1px var(--windowColorLighter);
    background-color: var(--windowColor);
    display: flex;
    color:white;
    border-bottom:1px solid black;
    z-index: 3;

    .tab {
        padding:3px 10px;
        width: 100%;
        font-size: 12px;
        text-align: center;
        align-items: center;
        display: flex;
        gap:3px;
        justify-content: center;
        background-color: var(--windowColorDarker);

        &.active {
            background-color: var(--windowColor);
        }

        &:not(:last-child) {
            border-right:1px solid var(--windowColorLighter);
        }
    }
}
